PixivPy==3.6.0
cqhttp==1.3.1
imageio==2.6.1
peewee==3.13.1
robobrowser==0.5.3
pygifsicle==1.0.1
selenium==3.141.0
Flask==1.1.1
Flask-Apscheduler==1.12.2
nonebot[scheduler]~=1.6.0
aiocqhttp>=1.2
lxml>=4.4.1
pytz>=2019.3
requests>=2.22.0
urllib3==1.25.8
zhconv>=1.4.0
Pillow>=8.2.0
TwitterAPI>=2.5.10
matplotlib>=3.2.0
numpy>=1.18.0
beautifulsoup4>=4.9.0
pygtrie>=2.0
tinydb>=4.0
aiohttp>=3.6
peony-twitter[all]~=1.1.7
uvicorn==0.14.0
fuzzywuzzy==0.18.0
# tensorflow==2.5.0
paddlepaddle==2.1.2
paddlehub==2.1.0
bilibili-api==8.3.1
ImageHash==4.2.1
Telethon==1.23.0
PySocks==1.7.1
opencv-python==3.4.15.55